* {box-sizing: border-box;}
html, body, h1, h2, h3, h4, h5, h6, p, img, ul, li, figure, caption, article, footer, header, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}